<header class="header">
  <div class="header-container container">
    <div class="header-body">
      <div class="header-logo">
        <img class="header-logo__img" src="assets/images/header/Miniatures.svg" alt="">
        <p class="header-logo__text">Catalogue</p>
      </div>
      <div class="header-login">
        <div class="header-login__img">
          <img class="login-img" src="assets/images/header/logout_black_24dp%201.svg" alt="">
        </div>
        <div class="header-login__link">
          <a class="login-link" href="#">Login out</a>
        </div>
      </div>
    </div>
  </div>
</header>
