@import "~src/styles";
.header{
  background: $mainBackground;
  border-bottom: 1px solid #2E3B3E;

  .header-body{
    display: flex;
    justify-content: space-between;
    align-items: center;

    .header-logo{
      margin: 21px 0;
      display: flex;
      flex-direction: column;

      .header-logo__text{
        font-size: 18px;
        font-family: Gilroy, sans-serif;
        color: white;
      }
    }
    .header-login{
      display: flex;

      .header-login__img{
        margin: 0 5.5px 0 0;
        display: flex;
      }
      .header-login__link{
        .login-link{
          font-family: Roboto, sans-serif;
          font-weight: 700;
          font-size: 18px;
          color: #D5D8D8;
        }
      }
    }
  }
}
