<div class="modal-dialog__body">
  <div class="modal-dialog-container">
    <div class="modal-dialog__title">
      <h2 mat-dialog-title class="modal-title">Add Item</h2>
      <mat-icon>close</mat-icon>
    </div>
    <perfect-scrollbar>
      <form class="modal-dialog__content" [formGroup]="formGroup">
        <div class="modal-dialog__img">
          <div class="img-item">
            <div class="item__img">
              <img src="../../../../assets/images/add-catalogue/Union.svg" alt="">
            </div>
            <div class="item__text">
              <h3 class="modal-text">Upload a cover image</h3>
            </div>
          </div>
        </div>
        <mat-form-field appearance="fill">
          <mat-label>Catalogue</mat-label>
          <input matInput formControlName="title" type="text">
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Description</mat-label>
          <textarea matInput
                    #textAreaValue
                    cdkTextareaAutosize
                    cdkAutosizeMinRows="5"
                    formControlName="description"></textarea>
          <mat-hint align="end">{{textAreaValue.value.length}}/300</mat-hint>
        </mat-form-field>
      </form>
    </perfect-scrollbar>
    <hr class="modal-dialog__line">
    <div class="modal-dialog__bottom">
      <div class="bottom-buttons">
        <button mat-dialog-close class="cancel-button">Cancel</button>
        <button class="save-button" (click)="save()">Save</button>
      </div>
    </div>
  </div>
</div>
