<div class="modal-dialog__body">
  <div class="modal-dialog-container">
    <div class="modal-dialog__title">
      <h2 mat-dialog-title class="modal-title">Add Item</h2>
      <mat-icon>close</mat-icon>
    </div>
    <div class="modal-dialog__img">
      <div class="img-item">
        <div class="item__img">
          <img src="assets/images/add-catalogue/Union.svg" alt="">
        </div>
        <div class="item__text">
          <h3 class="modal-text">Upload a cover image</h3>
        </div>
      </div>
    </div>
  </div>
</div>
