<div class="catalogue-list">
  <h2 class="catalogue-list__text">Catalogue List</h2>
  <div class="game-catalogue">
    <form>
      <div class="search-catalogue">
        <div class="input-catalogue">
          <mat-icon>search</mat-icon>
          <input type="text" class="search-input" placeholder="Search by catalogue name">
        </div>
        <div class="select-catalogue">
          <p class="select-catalogue__text" >Sort by:</p>
          <mat-form-field appearance="fill">
            <mat-label>Date of Creation (latest first)</mat-label>
            <mat-select>
              <mat-option *ngFor="let food of foods" [value]="food.value">
                {{food.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </form>
  </div>
</div>
