.catalogue-list{
  .catalogue-list__text{
    font-size: 32px;
    font-family: Gilroy,sans-serif;
    font-weight: 700;

    line-height: calc(40/32*100%);
    letter-spacing: .5px;

    color: white;

    padding: 24px 0 32px 0;
  }
  .game-catalogue{
    .search-catalogue{
      display: flex;
      margin: 0 0 28px 0;
      .input-catalogue{
        display: flex;

        mat-icon{
          padding: 19px 12px 20px 19px;
          color: white;
          background: #1F3335;
          border-radius: 2px 0 0 2px;
        }
        .search-input{
          background: #1F3335;
          border: none;
          border-radius: 0 2px 2px 0;

          outline: none;

          padding: 16px 97px 16px 0;
          width: 328px;

          font-size: 16px;
          font-family: Roboto,sans-serif;
          font-weight: 400;

          line-height: calc(24/16*100%);

          color: white;

          &::placeholder{
            font-size: 16px;
            font-family: Roboto,sans-serif;
            font-weight: 400;

            line-height: calc(24/16*100%);

            color: #82898B;

          }
        }
      }
      .select-catalogue{
        display: flex;
        align-items: center;

        margin: 0 0 0 32px;

        .select-catalogue__text{
          font-size: 16px;
          font-weight: 400;
          line-height: calc(24/16*100%);

          margin: 0 8px 0 0;

          color: #82898B;
        }
        mat-form-field{
          padding: 0 0 5px 0;
          mat-label{
            font-size: 16px;
            font-weight: 700;
            font-family: Gilroy,sans-serif;

            line-height: calc(24/16*100%);

            letter-spacing: .5px;

            color: #009E8E;
          }
        }
      }
    }
  }
}
::ng-deep{
  .mat-form-field-wrapper{
    padding: 0 !important;

    .mat-form-field-flex{
      padding: 0 !important;
      background: rgba(0,0,0,0);

      .mat-form-field-infix{
        border: none;
        width: 250px;
        .mat-select-arrow-wrapper{
          transform: none !important;
          display: flex;
          .mat-select-arrow{
            color: #009E8E;
          }
        }
      }
    }
  }
  .mat-form-field-underline{
    width: 0 !important;
  }
}

