<div class="catalogue-list">
  <h2 class="catalogue-list__text">Catalogue List</h2>
  <div class="game-catalogue">
    <form [formGroup]="formGroup">
      <div class="search-catalogue">
        <div class="search">
          <div class="input-catalogue">
            <mat-icon>search</mat-icon>
            <input type="text" class="search-input" placeholder="Search by catalogue name">
          </div>
          <div class="select-catalogue">
            <p class="select-catalogue__text" >Sort by:</p>
            <mat-form-field [floatLabel]="'never'">
              <mat-label>Sorted</mat-label>
              <mat-select formControlName="select">
                <mat-option>
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="search-catalogue__button">
          <button class="search-button" (click)="openModalDialog()">
            <mat-icon>add_circle_outline</mat-icon>
            <p class="search-button-text">Add Catalogue</p>
          </button>
        </div>
      </div>
    </form>
  </div>
  <div class="game-list">
    <mat-card *ngFor="let game of games$ | async">
      <img src="{{game.images}}" alt="">
      <div class="game-list__icon">
        <h2 class="game-list__title">{{game.title}}</h2>
        <mat-icon>more_vert</mat-icon>
      </div>
      <div class="game-list__quantity">
        <p class="game-quantity">{{game.quantity}} Items</p>
      </div>
    </mat-card>
  </div>
</div>
