.catalogue-list{
  .catalogue-list__text{
    font-size: 32px;
    font-family: Gilroy,sans-serif;
    font-weight: 700;

    line-height: calc(40/32*100%);
    letter-spacing: .5px;

    color: white;

    padding: 24px 0 32px 0;
  }
  .game-catalogue{
    .search-catalogue{
      display: flex;
      justify-content: space-between;
      margin: 0 0 28px 0;

      .search{
        display: flex;
        .input-catalogue{
          display: flex;

          mat-icon{
            padding: 19px 12px 20px 19px;
            color: white;
            background: #1F3335;
            border-radius: 2px 0 0 2px;
          }
          .search-input{
            background: #1F3335;
            border: none;
            border-radius: 0 2px 2px 0;

            outline: none;

            padding: 16px 97px 16px 0;
            width: 328px;

            font-size: 16px;
            font-family: Roboto,sans-serif;
            font-weight: 400;

            line-height: calc(24/16*100%);

            color: white;

            &::placeholder{
              font-size: 16px;
              font-family: Roboto,sans-serif;
              font-weight: 400;

              line-height: calc(24/16*100%);

              color: #82898B;

            }
          }
        }
        .select-catalogue{
          display: flex;
          align-items: center;

          margin: 0 0 0 32px;

          .select-catalogue__text{
            font-size: 16px;
            font-weight: 400;
            line-height: calc(24/16*100%);

            margin: 0 8px 0 0;

            color: #82898B;
          }
          mat-form-field{
            padding: 0 0 5px 0;
            mat-label{
              font-size: 16px;
              font-weight: 700;
              font-family: Gilroy,sans-serif;

              line-height: calc(24/16*100%);

              letter-spacing: .5px;

              color: #009E8E;
            }
          }
        }
      }

      .search-catalogue__button{
        .search-button{
          display: flex;
          background: #009E8E;
          border: none;
          border-radius: 2px;
          align-items: center;
          mat-icon{
            color: white;
            padding: 18px 10px 18px 30.5px;
          }
          .search-button-text{
            font-size: 18px;
            font-weight: 700;
            font-family: Gilroy,sans-serif;

            line-height: calc(24/18*100%);

            letter-spacing: .5px;

            color: white;

            padding: 0 28.5px 0 0;
          }
        }
      }
    }
  }
  .game-list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 32px;

    mat-card{
      padding: 0;
      border-radius: 2px;
      background: #2E3B3E;

      .game-list__icon{
        display: flex;
        justify-content: space-between;
        align-items: center;

        margin: 32px 32px 10px 32px;
        .game-list__title{
          font-size: 24px;
          font-family: Gilroy,sans-serif;
          font-weight: 700;

          line-height: calc(32/24*100%);

          color: white;
        }
        mat-icon{
          color: white;
        }
      }
      .game-list__quantity{
        display: inline-block;
        margin: 0 0 32px 32px;
        background: #495557;
        border-radius: 2px;
        .game-quantity{
          font-size: 14px;
          font-weight: 700;

          line-height: 16px;

          color: #D5D8D8;

          padding: 8px 20px;
        }
      }
    }
  }
}
::ng-deep{
  .mat-form-field-wrapper{
    padding: 0 !important;

    .mat-form-field-flex{
      padding: 0 !important;
      background: transparent !important;

      .mat-form-field-infix{
        border: none;
        width: 250px;
        .mat-select-trigger{
          margin: 5px 0 0 0 !important;

          .mat-select-value{
            color: #009E8E;
          }
          .mat-select-arrow-wrapper{
            transform: none !important;
            display: flex;
            .mat-select-arrow{
              color: #009E8E;
            }
          }
        }
        .mat-form-field-label-wrapper{
          top: -0.69375em;
        }
      }
    }
  }
  .mat-form-field-underline{
    width: unset !important;
  }

  .cdk-overlay-container{
    .cdk-overlay-pane{
      transform: translateX(-62px) translateY(-32px) !important;
      .mat-select-panel{
        background: #2E3B3E;
        max-height: unset;
        width: 352px !important;
        .mat-option{
          color: #A3A8A8;
          .mat-option-text{
            font-size: 16px;
            font-weight: 400;

            line-height: calc(24/16*100%);


          }
          &.mat-selected:not(.mat-option-disabled){
            color: #009E8E;
          }
          &:first-child{
            padding: 8px 16px 0 16px;
          }
          &:last-child{
            padding: 0 16px 8px 16px;
          }
        }
      }
      .mat-menu-panel{
        background: #2E3B3E;
        .mat-menu-item{
          color: #A3A8A8;
          .mat-icon-no-color{
            color: #A3A8A8;
          }
        }
      }
    }
  }
}

