/* You can add global styles to this file, and also import other style files */
$mainBackground: #1C2A2D;

@font-face { font-family: Gilroy; src: url('/src/assets/font'); }
body {
  padding: 0;
  margin: 0;
  font-family: Roboto, sans-serif;
}

div, p, a, img, form, button {
  box-sizing: border-box;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul, li {
  display: block;
  padding: 0;
  margin: 0;
}
.container{
  width: 100%;
  padding: 0 48px;
  margin: 0 auto;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
