@import "~src/styles";

.side-menu{
  background: $mainBackground;

  .side-menu__body{
    .side-menu__item{
      padding: 38px 0 0 0;

      .item-link{
        padding: 0 0 0 32px;
        margin: 0 0 32px 0;

        & >:not(:last-child){
          margin: 0 0 32px 0;
        }

        li{
          .link{
            font-size: 16px;
            font-family: Gilroy,sans-serif;
            font-weight: 700;

            line-height: calc(24/16*100%);

            letter-spacing: .5px;

            color: white;
          }
        }
      }
      .item-line{
        margin: 0 -48px;
        border-bottom: 1px solid #2E3B3E;
      }
      .item-add-catalogue{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #009E8E;
        margin: 24px 0;
        border-radius: 2px;

        .add-catalogue__img{
          margin: 0 0 0 30.5px;

          mat-icon{
            color: white;
            display: flex;
          }
        }

        .add-catalogue__text{
          font-size: 18px;
          font-family: Gilroy,sans-serif;
          font-weight: 700;
          line-height: calc(24/18*100%);
          letter-spacing: .5px;
          color: white;
          padding: 16px 28.5px 16px 0;
        }
      }
      .item-add-item{
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: 2px solid #009E8E;
        border-radius: 2px;

        .add-item__img{
          padding: 0 10px 0 48px;

          mat-icon{
            color: white;
            display: flex;
          }
        }
        .add-item__text{
          font-size: 18px;
          font-family: Gilroy,sans-serif;
          font-weight: 700;

          line-height: calc(24/18*100%);
          letter-spacing: .5px;

          padding: 16px 56px 16px 0;

          color: white;
        }
      }
    }
  }
}
