<div class="side-menu">
  <div class="side-menu__body">
    <div class="side-menu__item">
      <ul>
        <li><a href="">All Item</a></li>
        <li><a href="">Miscellaneous</a></li>
        <li><a href="">Grand Alliance Chaos</a></li>
        <li><a href="">Grand Alliance Death</a></li>
      </ul>
      <hr class="item-line">
      <div class="item-add-catalogue">
        <div class="add-catalogue__img"></div>
        <p></p>
      </div>
      <div class="item-add-item">
        <div class="add-item__img"></div>
        <p></p>
      </div>
    </div>
  </div>
</div>
