<div class="side-menu">
  <div class="side-menu-container container">
    <div class="side-menu__body">
      <div class="side-menu__item">
        <ul class="item-link">
          <li><a class="link" href="">All Item</a></li>
          <li><a class="link" href="">Miscellaneous</a></li>
          <li><a class="link" href="">Grand Alliance Chaos</a></li>
          <li><a class="link" href="">Grand Alliance Death</a></li>
        </ul>
        <div class="item-line"></div>
        <button class="add-catalogue__button">
          <mat-icon>add_circle_outline</mat-icon>
          <p class="add-catalogue__text">Add Catalogue</p>
        </button>
        <button class="add-item__button">
          <mat-icon>add_circle_outline</mat-icon>
          <p class="add-item__text">Add Item</p>
        </button>
      </div>
    </div>
  </div>
</div>
