<div class="side-menu">
  <div class="side-menu-container container">
    <div class="side-menu__body">
      <div class="side-menu__item">
        <ul class="item-link">
          <li><a class="link" href="">All Item</a></li>
          <li><a class="link" href="">Miscellaneous</a></li>
          <li><a class="link" href="">Grand Alliance Chaos</a></li>
          <li><a class="link" href="">Grand Alliance Death</a></li>
        </ul>
        <div class="item-line"></div>
        <div class="item-add-catalogue">
          <div class="add-catalogue__img">
            <img src="assets/images/side-menu/add_circle_outline.svg" alt="">
          </div>
          <p class="add-catalogue__text">Add Catalogue</p>
        </div>
        <div class="item-add-item">
          <div class="add-item__img">
            <img src="assets/images/side-menu/Vector.svg" alt="">
          </div>
          <p>Add Item</p>
        </div>
      </div>
    </div>
  </div>
</div>
